<div class="container">
  <h1>Products</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th>Title</th>
        <th>Description</th>
        <th>price</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let product of products; let index = index">
        <td>{{index + 1}}</td>
        <td>{{product.title}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
      </tr>
    </tbody>
  </table>
</div>